*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   

/* ***************************************************
          DESKTOP LAYOUT
*******************************************************/

/* header */

    header{
        width: 100vw;
        height: 100px;
        position: fixed;
        top: 0;
        z-index: 500;
        background-color: #0084fd;
    }
   
    
    .container{
        width: 70%;
    }
        
    .container.nth-h{
        margin: 25px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /* menu */
    nav{
        min-width: 40%;
    }
    .menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
        
        color: white;
    }

    .button{
        padding: 10px;
        background-color: white;
        color: black;
        border-radius: 20px;
    }






    /* main */

     /* proprieta app */
     .container.nth-1{
        margin: 100px auto;
        /* display: flex;
        justify-content: space-between; */
        

        /* DEBUG */
        min-height:500px ;
        background-color: white;
     }

     .row{
        margin-top: 140px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
    }

    h3{
        color: #108bfd;
    }
    /* blocco grande */
    .col-large{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 68%;
        margin-bottom: 20px;
        border-radius: 5px;
        background-color :#b5ddff ;
        min-height: 300px; /* DEBUG */
    }

    .txt{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 30px;
        margin-bottom: 50px;
        width: 50%;
        height: 210px;
        line-height: 25px;
        
    }

    .blue{
        background-color: #0084fd;
        color: white;
    }

    .img{
        background-image: url(img/phone.png);
        background-size: cover;
        width: 30%;
        height: 240px;
        margin-right: 70px;
        
    }

    .col{
        width:30%;
        margin-bottom: 20px;
        border-radius: 5px;
        background-color: #b5ddff ;
        min-height: 100PX; /* DEBUG */
    }
    
    /*piano strategico  */

     .container.nth-2{
        margin: auto;
        display: flex;
        justify-content: space-between;
        

        /* DEBUG */
        height:500px ;
        background-color: #9792e4;
     }
    
    
    
    
    
    
    
    
    
    
    
     /*  testimonials  */
     .container.nth-3{
        margin: auto;
        display: flex;
        justify-content: space-between;
        

        /* DEBUG */
        height:500px ;
        background-color: white;
     }

     /* benefits */
     .container.nth-4{
        margin: auto;
        display: flex;
        justify-content: space-between;
        

        /* DEBUG */
        height:500px ;
        background-color: #9792e4;
     }

     /* about us */
     .container.nth-5{
        margin: auto;
        display: flex;
        justify-content: space-between;
        

        /* DEBUG */
        height:500px ;
        background-color: white;
     }



     /* footer */

     /*registrazione */
     .container.row-1{
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        

        /* DEBUG */
        height:300px ;
        background-color: #9792e4;

     }

    .container.row-2{
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        

        /* DEBUG */
        height:300px ;
        background-color:black;
     }

     /* copyright */





     /* **********************************************************
              TABLET VERSION
************************************************************* */

@media screen and (max-width: 768px) {

    .menu{
        
        display: none;
    }

    .row {
        ;
    }
    
}